 <% content_for :title, "Reference- Docs - i2x" %>

 <div class="large-9 columns" role="content">
   
   <h1 id="actions">Actions</h1>
   <p>Actions represent what the users are trying to achieve:
    - Add metadata to index (Ex: Dicoogle)
    - Add new data to database (Ex: WAVe)
    - Create issue (Ex: Redmine)</p>
    <p>You can think of Actions as POSTs, writes, query executions, or the creation of a resource. <strong>Actions</strong> are performed by the <a href="#Postman">Postman</a> using the specified <a href="#delivery-templates">delivery template</a>.</p>
    <h2 id="metadata">Metadata</h2>
    <h3 id="label">Label</h3>
    <p>This is a human readable label a user would see when browsing the directory and adding your service. Make it short but descriptive.</p>
    <p><strong>Example</strong>: <em>Create issue</em>, <em>Add variant</em> or <em>Index document</em></p>
    <h3 id="key">Key</h3>
    <p>This is a field only really used internally for both prefill and scripting references. Needs to be at least 2 characters long, start with an alpha, and only contain a-z, A-Z, 0-9 or _.</p>
    <p><strong>Example</strong>: <em>create_issue</em>, <em>add_variant</em> or <em>index</em></p>
    <h3 id="help-text">Help Text</h3>
    <p>This is some human-readable explanatory text, usually something that clarifies what the action does.</p>
    <p><strong>Example</strong>: <em>Adds a new variant to the configured database</em>.</p>
    <h2 id="related">Related</h2>
    <ul>
      <li>Postman</li>
      <li>Delivery Template</li>
    </ul>
    <h1 id="action-fields">Action Fields</h1>
    <p>Action Fields answer the question: What details can a user provide when creating an Action? These are the fields available in for customization in the <a href="#delivery-templates">delivery template</a>. These are things like:</p>
    <ul>
      <li>Title  (EG: Issue Title in Redmine)</li>
      <li>Description  (EG: Issue Description from Github)</li>
      <li>Parent Object  (span relationships via prefill)</li>
      <li>Variant Description  (EG: HGVS description)</li>
    </ul>
    <p><strong>Note</strong>: each action should have at least one action field. It really makes no sense to send no custom data to the delivery template.</p>
    <h2 id="metadata_1">Metadata</h2>
    <h3 id="key_1">Key</h3>
    <p>A key for consumption in the Delivery Templates. This is available for variable syntax in the Delivery Template. Needs to be at least 2 characters long, start with an alpha, and only contain a-z, A-Z, 0-9 or _.
      We'll take double underscores and convert them to nested dictionaries before execution.</p>
      <p><strong>Example</strong>: <em>room</em> or <em>project__title</em>  (converts to <em>{"project": {"title": "some value"} }</em>)</p>
      <h3 id="label_1">Label</h3>
      <p>A human readable Label shown in the UI as a user works to complete an Action.</p>
      <p><strong>Example</strong>: <em>Variant</em> or <em>Title</em></p>
      <h3 id="help-text_1">Help Text</h3>
      <p>Human readable description of an action field, useful for describing some detail you couldn't list in the Label.</p>
      <p><em>Example</em>: <em>Choose which room to send the message to.</em> or <em>Add a title to the note.</em></p>
      <h3 id="default">Default</h3>
      <p>A default value that is preloaded in the execution if no values are obtained for Action execution.</p>
      <h3 id="type">Type</h3>
      <p>The type we will try to coerce to on the backend. Fails silently to ensure that Actions aren't dropped on coercion errors.
        You can get a full list of supported types and the coercions implied here: <a href="#field-types">Field Types</a>.</p>
        <h3 id="required">Required</h3>
        <p>If checked a user will not be able to continue without entering some value.</p>
        <h3 id="choices">Choices</h3>
        <p>A comma separated string that will be turned into a select field for limiting the choices a user can provide to an action field.</p>
        <p><strong>Example</strong>: <em>choice_a,choice_b,choice_c</em> or <em>Yesterday, Today, Tomorrow</em></p>
        <h1 id="deliveries">Deliveries</h1>
        <p><strong>Deliveries</strong> are associated with <a href="#actions">Actions</a> and define what will be executed by the <a href="#postman">Postman</a>.</p>
        <h1 id="delivery-templates">Delivery Templates</h1>
        <p>Programmatically, each <strong>Delivery Template</strong> is a set of key/value pairs describing the associated <a href="#deliveries">delivery</a>.</p>
        <h2 id="metadata_2">Metadata</h2>
        <h3 id="key_2">Key</h3>
        <p>A key for consumption by the <a href="#postman">Postman</a>. Needs to be at least 2 characters long, start with an alpha, and only contain a-z, A-Z, 0-9 or _.</p>
        <p><strong>Example</strong>: <em>mapper</em> or <em>isse</em></p>
        <h3 id="label_2">Label</h3>
        <p>A human readable Label shown in the UI as a user works to complete an <a href="#actions">Action</a>.</p>
        <p><strong>Example</strong>: <em>Variant</em> or <em>Title</em></p>
        <h3 id="help-text_2">Help Text</h3>
        <p>Human readable description of an action field, useful for describing some detail you couldn't list in the Label.</p>
        <p><em>Example</em>: <em>Choose which room to send the message to.</em> or <em>Add a title to the note.</em></p>
        <h3 id="type_1">Type</h3>
        <p>The type of Action that will be delivered by the Postman.</p>
        <p><strong>Available Types</strong>: <em>url</em>, <em>sql</em>, <em>sparql</em>, <em>mail</em>, <em>file</em>, <em>json</em>...</p>
        <h2 id="sample">Sample</h2>
        <p>Sample configuration for exchanged data between the application controller and the <a href="#actions">Actions</a>. Each [Deliverable Template][] type will have its own set of configuration properties, defined in the object payload.</p>
        <pre><code>{
          "type": "url",
          "key": "i2x",
          "label": "label",
          "id": "123",
          "template": {
          "url": "http://www.example.com",
          "method": "post"
          ...
        }
      }
    </code></pre>
    <h1 id="delivery-types">Delivery Types</h1>
    <p><a href="#delivery-templates">Delivery Templates</a> have one (and only one) type. This defines what processing is required by in the <a href="#postman">Postman</a> engine for successful delivery of the data.</p>
    <h2 id="sql-query">SQL Query</h2>
    <p>The SQL Query <a href="#delivery-templates">Delivery Template</a> will execute the specified SQL query in the destination database. </p>
    <h3 id="configuration">Configuration</h3>
    <h4 id="server">Server</h4>
    <p>A string matching the available database servers.</p>
    <p><strong>Available servers</strong>: <em>sqlserver</em>, <em>mysql</em>, <em>postgres</em>, <em>sqlite</em></p>
    <h4 id="host">Host</h4>
    <p>Address for the database host. This value defaults to <code>localhost</code> if no data is provided.</p>
    <p><strong>Example</strong>: <em>localhost</em>, <em>192.168.2.5</em></p>
    <h4 id="port">Port</h4>
    <p>Port open for connection in the database host. This value defaults to the standard server port (Ex: <code>3306</code> for <code>mysql</code>) if no data is provided.</p>
    <p><strong>Example</strong>: <em>3306</em>, <em>1255</em></p>
    <h4 id="database-name">Database Name</h4>
    <p>Database name where the query will be performed. This value defaults to the <a href="#delivery-templates">delivery template</a> key if no data is provided.</p>
    <p><strong>Example</strong>: <em>wave10</em>, <em>issues</em></p>
    <h4 id="username">Username</h4>
    <p>Database user.</p>
    <p><strong>Example</strong>: <em>john_doe</em></p>
    <h4 id="password">Password</h4>
    <p>User password. The password is hashed before being exchanged between any service.</p>
    <p><strong>Example</strong>: <em>qwerty§12345</em></p>
    <h4 id="query">Query</h4>
    <p>The query that will be executed by the <a href="#postman">Postman</a> in the configured database.</p>
    <p><strong>Example</strong>: *INSERT INTO issues (title, description, timestamp) VALUES (#title#, #description#, getdate());</p>
    <h2 id="url-route">URL Route</h2>
    <h3 id="configuration_1">Configuration</h3>
    <h4 id="type_2">Type</h4>
    <h5 id="get">GET</h5>
    <p>The URL Route <a href="#delivery-templates">Delivery Template</a> will issue a GET request to the defined URL route. URI <code>keys</code> are used to match <a href="#action-fields">Action Fields</a>.</p>
    <p><strong>Example</strong>: http://example.com/services/<code>#id#</code>/<code>#description#</code>/<code>#otherpayload#</code></p>
    <h5 id="post">POST</h5>
    <p>This URL Route POSTs extracted data to the defined URL route. <a href="#action-fields">Action Fields</a> are mapped to specific key/value in the request metadata. The POSTed payload is inclued in the <code>payload</code> object in the received message.</p>
    <p><strong>Example</strong>:</p>
    <pre><code>{
      "type": "#type#",
      "key": "#key#",
      "label": "#label#",
      "id": "#id#"
    }
  </code></pre>
  <h1 id="events">Events</h1>
  <p><strong>Events</strong> are occurrences of specific conditions that will trigger an <a href="#actions">Action</a>. i2x events can be registered when:</p>
  <ul>
    <li>New issue  (Ex: GitHub)</li>
    <li>New row in table (Ex: WAVe)</li>
    <li>New image in index (Ex: Dicoogle)</li>
  </ul>
  <p>You can think of an Event as the ignition of a new data integration Action.</p>
  <p>Basically, they're things that happen in monitored systems which cause a defined action to happen. Additionally, events supply data about what happened. These data will be passed on to the Actions controller, which validates them and moves them to the Postman for execution in the <a href="#delivery-templates">Delivery Template</a>.</p>
  <p>For example, say a service has a "New Row Added" event being monitored. We will detect when this event happens by <a href="#polling">polling</a>. The general event data will be something like this:</p>
  <pre><code>{
    "id": 987654,
    "owner_id": 321,
    "date_created": "Mon, 17 Sep 2013 15:07:01 0000",
    "description": "Row added",
    "payload": { ... }
  }
</code></pre>
<p>These key/value objects are available for mapping into the action as required.</p>
<h2 id="metadata_3">Metadata</h2>
<h3 id="label_3">Label</h3>
<p>Human readable, short name of the event. Shown in various places in our interface.</p>
<p><strong>Example</strong>: <em>New Ticket Created</em> or <em>New Email with Label</em></p>
<h3 id="key_3">Key</h3>
<p>This is a field only really used internally for both prefill and scripting references. Needs to be at least 2 characters long, start with an alpha, and only contain a-z, A-Z, 0-9 or _.</p>
<p><strong>Example</strong>: <em>create_issue</em>, <em>ticket</em> or <em>newEmailLabel</em></p>
<h3 id="help-text_3">Help Text</h3>
<p>A longer description of what this event actually watches for.</p>
<p><strong>Example</strong>: <em>Triggered when a new row is added to a configured database.</em></p>
<h2 id="hooks">Hooks</h2>
<p>The traditional workflow uses the <a href="#std">STD</a> to detect new <a href="#events">events</a>. However, <a href="#events">events</a> can be pushed in the system using the Web/REST hooks interface. In this case, the hook payload is directly proxied to the <a href="#actions">Action</a> in the <code>payload</code> object.</p>
<h1 id="field-types">Field Types</h1>
<p>The following is a list of available field types. Normally, you'd choose one of these fields when creating your action fields or trigger fields via the type dropdown.</p>
<ul>
  <li>Unicode <code>unicode</code>: Unicode fields are essentially one-line text fields that can support unicode characters. There is no coercion done for this type.</li>
  <li>Text <code>text</code>: Think of this as a multi-line unicode field. It's really only used to give the user a textare in the UI instead of a one-line input field. There is no coercion done for this type.</li>
  <li>Integer <code>int</code>: Suitable for whole integer numbers, we'll coerce any text down into an integer by stripped non-numeric values from the string. A negative sign (-) in front is also allowed.</li>
  <li>Float <code>float</code>: Like integers, this will coerce any text down to a floating point number with the addition of allowed characters like . and ,.</li>
  <li>Boolean <code>bool</code>: We apply some natural language parsing to try and coerce any text into True or False. This UI field is also replaced with a dropdown allowing the user to specifically pick "Yes" or "No" explicitly.</li>
  <li>DateTime <code>datetime</code>: Our most complex coersion. We'll attempt to convert any given date format into an internal DateTime representation. It is quite robust supporting epoch timestamps, ISO-8061 and even natural language parsing! On the developer platform, datetimes are automatically converted into an ISO-8061 datetime for actions. You can use moment.js via the Scripting API to parse and replace if your servers expect a different format sent to it. |</li>
</ul>
<h2 id="choices_1">Choices</h2>
<p>You can provide a choices array which will be mapped automatically into a valiation list for execution:</p>
<pre><code>[
  {
  "type": "unicode",
  "key": "color",
  "label": "Label",
  "help_text": "Pick a color label to apply to the card.",
  "choices": ["none", "green", "yellow", "orange", "red", "purple", "blue"]
}
]
</code></pre>
<h1 id="polling">Polling</h1>
<p>Polling is the process of repeatedly hitting the same endpoint looking for new data. Unfortunately, i2x uses the <strong>STD</strong> to do this. We don't like doing this (its wasteful), vendors don't like us doing it (again, its wasteful) and users dislike it (they have to wait a maximum interval to detect new events). However, it is the one method that is ubiquitous, so we support it.</p>
<p>It is also closely tied into how i2x handles deduplication.</p>
<p>A more modern approach uses Web/REST hooks. This way, services can push data into i2x, which reduces the application load.</p>
<h1 id="postman">Postman</h1>
<p>Handles the final step of the <a href="#actions">actions</a>: gets the <a href="#action-fields">action fields</a> and applies them to the <a href="#delivery-templates">delivery template</a> for execution.</p>
<h1 id="sources">Sources</h1>
<p><strong>Sources</strong> setup the location of external content for event detection. The <a href="#std">STD</a> uses a <a href="#polling">polling</a> process to identify new <a href="#events">events</a> in monitored resources. There a few changes tough, URL Routes can only be GET and SQL queries must contain a SELECT statement.</p>
<h1 id="source-templates">Source Templates</h1>
<p><strong>Source Templates</strong> are akin to <a href="#deliverytemplates">delivery templates</a>. They define how to poll the <a href="#sources">sources</a> being monitored.</p>
<h2 id="metadata_4">Metadata</h2>
<h3 id="key_4">Key</h3>
<p>A key for consumption by the Postman. Needs to be at least 2 characters long, start with an alpha, and only contain a-z, A-Z, 0-9 or _.</p>
<p><strong>Example</strong>: <em>mapper</em> or <em>isse</em></p>
<h3 id="label_4">Label</h3>
<p>A human readable Label shown in the UI as a user works to complete an Action.</p>
<p><strong>Example</strong>: <em>Variant</em> or <em>Title</em></p>
<h3 id="help-text_4">Help Text</h3>
<p>Human readable description of an action field, useful for describing some detail you couldn't list in the Label.</p>
<p><em>Example</em>: <em>Choose which room to send the message to.</em> or <em>Add a title to the note.</em></p>
<h3 id="type_3">Type</h3>
<p>The type of <a href="#actions">Action</a> that will be executed for monitoring by the <a href="#std">STD</a>.</p>
<p><strong>Available Types</strong>: <em>url</em>, <em>sql</em>, <em>sparql</em>, <em>mail</em>, <em>file</em>...</p>
<h2 id="sample_1">Sample</h2>
<p>Sample configuration for exchanged data between the application controller and the <a href="#actions">Actions</a>. Each <a href="#delivery-templates">Delivery Template</a> type will have its own set of configuration properties, defined in the object payload.</p>
<pre><code>{
  "type": "url",
  "key": "i2x",
  "label": "label",
  "id": "123",
  "template": {
  "url": "http://www.example.com",
  "method": "get"
  "path": "/home/this"
}
}
</code></pre>
<h1 id="std-spot-the-differences">STD: Spot The Differences</h1>
<p>The <strong>STD</strong> engine will perform the <a href="#polling">polling</a> of configured <a href="#sources">sources</a>.</p>

</div>

<!-- End Main Content -->


<!-- Sidebar -->

<aside class="large-3 columns">
 
  <h5>Outline</h5>
  <ul class="side-nav">
    <li><a href="#actions">Actions</a><ul>
      <li><a href="#metadata">Metadata</a><ul>
        <li><a href="#label">Label</a></li>
        <li><a href="#key">Key</a></li>
        <li><a href="#help-text">Help Text</a></li>
      </ul>
    </li>
    <li><a href="#related">Related</a></li>
  </ul>
</li>
<li><a href="#action-fields">Action Fields</a><ul>
  <li><a href="#metadata_1">Metadata</a><ul>
    <li><a href="#key_1">Key</a></li>
    <li><a href="#label_1">Label</a></li>
    <li><a href="#help-text_1">Help Text</a></li>
    <li><a href="#default">Default</a></li>
    <li><a href="#type">Type</a></li>
    <li><a href="#required">Required</a></li>
    <li><a href="#choices">Choices</a></li>
  </ul>
</li>
</ul>
</li>
<li><a href="#deliveries">Deliveries</a></li>
<li><a href="#delivery-templates">Delivery Templates</a><ul>
  <li><a href="#metadata_2">Metadata</a><ul>
    <li><a href="#key_2">Key</a></li>
    <li><a href="#label_2">Label</a></li>
    <li><a href="#help-text_2">Help Text</a></li>
    <li><a href="#type_1">Type</a></li>
  </ul>
</li>
<li><a href="#sample">Sample</a></li>
</ul>
</li>
<li><a href="#delivery-types">Delivery Types</a><ul>
  <li><a href="#sql-query">SQL Query</a><ul>
    <li><a href="#configuration">Configuration</a><ul>
      <li><a href="#server">Server</a></li>
      <li><a href="#host">Host</a></li>
      <li><a href="#port">Port</a></li>
      <li><a href="#database-name">Database Name</a></li>
      <li><a href="#username">Username</a></li>
      <li><a href="#password">Password</a></li>
      <li><a href="#query">Query</a></li>
    </ul>
  </li>
</ul>
</li>
<li><a href="#url-route">URL Route</a><ul>
  <li><a href="#configuration_1">Configuration</a><ul>
    <li><a href="#type_2">Type</a><ul>
      <li><a href="#get">GET</a></li>
      <li><a href="#post">POST</a></li>
    </ul>
  </li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><a href="#events">Events</a><ul>
  <li><a href="#metadata_3">Metadata</a><ul>
    <li><a href="#label_3">Label</a></li>
    <li><a href="#key_3">Key</a></li>
    <li><a href="#help-text_3">Help Text</a></li>
  </ul>
</li>
<li><a href="#hooks">Hooks</a></li>
</ul>
</li>
<li><a href="#field-types">Field Types</a><ul>
  <li><a href="#choices_1">Choices</a></li>
</ul>
</li>
<li><a href="#polling">Polling</a></li>
<li><a href="#postman">Postman</a></li>
<li><a href="#sources">Sources</a></li>
<li><a href="#source-templates">Source Templates</a><ul>
  <li><a href="#metadata_4">Metadata</a><ul>
    <li><a href="#key_4">Key</a></li>
    <li><a href="#label_4">Label</a></li>
    <li><a href="#help-text_4">Help Text</a></li>
    <li><a href="#type_3">Type</a></li>
  </ul>
</li>
<li><a href="#sample_1">Sample</a></li>
</ul>
</li>
<li><a href="#std-spot-the-differences">STD: Spot The Differences</a></li>
</ul>




</aside>

<!-- End Sidebar -->
