# Can ignore specific files
.DS_Store
.bundle
.bundle/*
.idea
.idea/*

# logs and stuff
log/*
data/users/*

# Ignore application configuration
/config/application.yml

# Ignore i2x temporary files
tmp/i2x/*
tmp/*
tmp/cache
tmp/cache/*