<% content_for :title, "Content - Publications - Docs - i2x" %>

<article id="content">
    <h3>A customizable architecture for content change detections</h3>

    <h6 class="subheader">Conference paper, technical (ACM, IEEE).</h6>

    <div class="row">
        <ul>
            <li>change detection engine</li>

            <li>generating diffs from content</li>
        </ul>
    </div>
</article>
