<% content_for :title, "Framework - Publications - Docs - i2x" %>

<article id="framework">
    <h3>An innovative framework for active data integration</h3>

    <h6 class="subheader">Technical journal paper.</h6>

    <div class="row">
        <ul>
            <li>reinforce real time aspect</li>

            <li>on-the-fly data integration</li>
        </ul>
    </div>
</article>
