<% content_for :title, "Rule - Publications - Docs - i2x" %>
<article id="rule">
	<h3>Exploring semantic rule-based data integration</h3>

	<h6 class="subheader">Conference paper, semantics</h6>

	<div class="row">
		<ul>
			<li>semantic rules</li>

			<li>from regex to complex inference</li>
		</ul>
	</div>
</article>