<% content_for :title, "Template - Publications - Docs - i2x" %>

<article id="template">
    <h3>Towards template-based autonomous semantic data integration</h3>

    <h6 class="subheader">Conference paper, technical (ACM, IEEE).</h6>

    <div class="row">
        <ul>
            <li>delivery templates (postman?)</li>

            <li>integrate anywhere</li>
        </ul>
    </div>
</article>
