<% content_for :title, "WAVe - Publications - Docs - i2x" %>

<article id="wave2">
	<h3>WAVe 2</h3>

	<h6 class="subheader">Human Mutation, BMC Bioinformatics.</h6>

	<div class="row">
		<ul>
			<li>The next WAVe of human variome data integration</li>
		</ul>
	</div>
</article>