<div class="row">
  <div class="small-1 columns">
    <div class="right inline"><span class="icon-details" data-tooltip class="has-tip tip-top" title="Connection Details"> </span></div>
  </div>
  <div class="small-11 columns">
    <div class="row">
      <div class="small-2 columns">
        <strong class="right inline">URI</strong>
      </div>
      <div class="small-10 columns">
        <%= highlight_variables(template[:payload][:uri]) %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <strong class="right inline">Method</strong>
      </div>
      <div class="small-10 columns">
        <%= highlight_variables(template[:payload][:method]) %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <strong class="right inline">Content</strong>
      </div>
      <div class="small-10 columns">
        <%= highlight_variables(template[:payload][:content]) %>
      </div>
    </div>
  </div>
</div>