<h1>Editing template</h1>
<div class="row alert-box">
	<strong>Warning</strong> Full edit support for dynamic metadata is not yet implemented. Proceed at your own risk.
</div>
<%= render 'form' %>

<%= link_to 'Show', @template %> |
<%= link_to 'Back', templates_path %>
