<% content_for :javascript_includes do %>
<%= javascript_include_tag "#{ENV['APP_HOST']}templates/new.js" %>
<% end %>

<% content_for :title, "New template - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li><%= link_to 'Templates', templates_path %></li>
  <li class="current">New template</li>
</ul>
<h1>New template</h1>
<%= render 'new' %>