<% content_for :title, "New template - #{Settings.app.title}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li><%= link_to 'Templates', templates_path %></li>
  <li class="current">New template</li>
</ul>
<h1>New template</h1>
<%= render 'new' %>