 <div class="large-12 columns banner">
     <h1>i2x</h1>
     <h3 class="subheader">Integrate Anything</h3>
     <%= image_tag 'logo_home.png' %>

     <h3 class="show-for-small">Integration-as-a-Service Platform</h3>
     <br />
     <br />
     <hr>
     <p><strong>i2x</strong> open-source platform brings the power of automated realtime integration to everyone. Quickly create new actions delivering your data from miscellaneous resources to any environment.</p>
     <hr>

 </div>
</div>
<div class="row boxes">

    <div class="large-12 show-for-small columns">
        <h3>Features</h3>
        <hr>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Automation</h5>
            <p>Create automated integration pipelines. No more scripting and manually launching tasks, with <strong>i2x</strong> the platform does the work for you.</p><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Integration</h5>
            <p>Integrate everything. If there&apos;s a way to get the data, <strong>i2x</strong> can get it for you. From complex SQL queries to JSON objects up to LinkedData URIs, multiple formats can be delivered to your endpoint.</p><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Real time</h5>
            <p>No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with <strong>i2x</strong> the integration is continuous and in (near) real time.</p><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Semantics</h5>
            <p>Liberate your data. With a Semantic Web-based ETL engine, <strong>i2x</strong> abstracts data to a semantic environment for integration, analysis and processing.</p><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Rules</h5>
            <p>An innovative semantics-based rule processing engine allows you to process acquired data before, during and after the integration actions.</p><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Templates</h5>
            <p>Delivery templates to integrate everywhere. From custom SQL queries, to file appends, to web service calls or sending emails, with <strong>i2x</strong> integrated data can be sent everywhere.</p><a href="#" class="tiny button">More...</a>
        </div>
    </div>