 <div class="large-12 columns banner">
   <h1>i2x</h1>

   <h2 class="subheader">Integrate Anything</h2>

   <h3 class="show-for-small">Integration-as-a-Service Platform</h3>

   <div class="panel">
    <h4 class="hide-for-small">Integration-as-a-Service Platform</h4>
    <hr>

    <h4 class="hide-for-small"></h4>

    <h5 class="subheader"><strong>i2x</strong> open-source platform brings the power of automated realtime integration to everyone. Quickly create new workspaces integrating data from miscellaneous resources into any environment.</h5>
</div>
</div>
</div>
<div class="row">
  
    <div class="large-12 show-for-small columns">
        <h3>Features</h3>
        <hr>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Automation</h5>

            <h6 class="subheader">Create custom automated integration pipelines. No more scripting and manually launching tasks, with <strong>i2x</strong> the platform does the work for you.</h6><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Integration</h5>

            <h6 class="subheader">Integrate everything. If there&apos;s a way to get the data, <strong>i2x</strong> can get it for you. From complex SQL queries to light JSON objects, multiple formats can be pushed into your custom <strong>i2x</strong> workspace.</h6><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Real time</h5>

            <h6 class="subheader">No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with <strong>i2x</strong> the integration is continuous and in (near) real time.</h6><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Semantics</h5>

            <h6 class="subheader">Liberate your data. With a Semantic Web-based ETL engine, <strong>i2x</strong> abstracts data to a semantic environment for integration, analysis and processing.</h6><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Rules</h5>

            <h6 class="subheader">An innovative semantics-based rule processing engine allows you to process acquired data before, during and after the final integration tasks.</h6><a href="#" class="tiny button">More...</a>
        </div>
    </div>

    <div class="large-4 small-6 columns home-box">
        <div class="panel">
            <h5>Templates</h5>

            <h6 class="subheader">Delivery templates to integrate everywhere. From custom SQL queries, to file appends, to web service calls up to sending emails, with <strong>i2x</strong> integrated data can be published everywhere.</h6><a href="#" class="tiny button">More...</a>
        </div>
    </div>