<div class="row" id="home">
  <div class="row">
    <div class="large-12 columns banner">
      <h1>i2x</h1>
      <h4 class="subheader">Integrate Everything</h4>
      <div class="icon-i2x index-logo"></div>
      
      <h3 class="show-for-small">Integration-as-a-Service Platform</h3>
      <hr>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns centered-text">
        <h3>Automated Real-time Integration</h3>
        <h5 class="subheader">
          <strong>i2x</strong>
          open-source platform brings the power of automated real-time data integration to everyone. Quickly create new integrations delivering your data
          <strong>from</strong>
          miscellaneous heterogeneous resources
          <strong>to</strong>
          any destination.</h5>
      </div>
    </div>
    <div class="row centered-text">
      <div class="medium-3 large-3 columns">
        <%= link_to '<div class="icon-realtime huge"></div>'.html_safe, integrations_path %>
        <h5>Real-time</h5>
        <p class="small-text">No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with
          <strong>i2x</strong>
          the integration is continuous and in (near) real time.</p>
      </div>
      <div class="medium-3 large-3 columns">
        <div class="icon-agent huge">
        </div>
        <h5>Automation</h5>
        <p class="small-text">Create automated integration pipelines. No more scripting and manually launching tasks: with
          <strong>i2x</strong>, the platform does the work for you.</p>
      </div>
      <div class="medium-3 large-3 columns">
        <div class="icon-template huge">
        </div>
        <h5>Templates</h5>
        <p class="small-text">Delivery templates to integrate everywhere. From custom SQL queries, to file appends, to web service calls or sending emails, with
          <strong>i2x</strong>
          integrated data can be sent everywhere.</p>
      </div>
      <div class="medium-3 large-3 columns">
        <div class="icon-integration huge">
        </div>
        <h5>Integration</h5>
        <p class="small-text">Integrate everything. If there&apos;s a way to get the data,
          <strong>i2x</strong>
          can get it for you. From complex SQL queries to JSON objects up to LinkedData URIs, multiple formats can be delivered to your endpoint.</p>
      </div>
    </div>
  </div>