	<% content_for :title, "Models - Architecture - Docs - i2x" %>
	<article id="models">
		<h3>Models</h3>

		<h6 class="subheader">General architecture.</h6>
		<%= link_to image_tag("architecture.png", {width: 640}), image_path('architecture.png') %>
		<br>

		<div class="panel">
			<h5>Overview</h5>

			<p>All the pieces working together.</p>
		</div>
	</article>
