<% content_for :title, "Models - Architecture - Docs - i2x" %>

<article id="models">
	<h1>Models</h1>
	<h6 class="subheader">General architecture.</h6>
	<%= link_to image_tag("architecture.png", {width: 640}), image_path('architecture.png'), :class => 'th'  %>
	<br>
	<br />
	<div class="panel">
		<%= @content.html_safe %>
	</div>
</article>
