
<fieldset><legend>SQL Publisher Properties</legend>
	<div class="row">
		<div class="small-3 columns">
			<label for="agent_payload_sqlserver" class="right inline">Server</label>
		</div>
		<div class="small-9 columns">
			<select id="agent_sqlserver" name="agent[payload_sqlserver]" tabindex="8">
				<option selected="selected" value="mysql">MySQL</option>
				<option value="sqlserver">SQL Server</option>
				<option value="postgres">Postgres</option>
				<option value="sqlite">SQLite</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<label for="agent_payload_host" class="right inline">Host</label>
		</div>
		<div class="small-9 columns">
			<input type="text" id="agent_payload_host" tabindex="9" name="agent[payload_host]"  placeholder="E.g.: localhost">
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<label for="agent_payload_port" class="right inline">Port</label>
		</div>
		<div class="small-9 columns">
			<input type="number" id="agent_payload_port" name="agent[payload_port]"  tabindex="10" placeholder="E.g.: 3306">
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<label for="agent_payload_database" class="right inline">Database</label>
		</div>
		<div class="small-9 columns">
			<input type="text" id="agent_payload_database" name="agent[payload_database]"  tabindex="11" placeholder="E.g.: i2x">
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<label for="agent_payload_username" class="right inline">Username</label>
		</div>
		<div class="small-9 columns">
			<input type="text" id="agent_payload_username" name="agent[payload_username]"  tabindex="12" placeholder="E.g.: root">
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<label for="agent_payload_password" class="right inline">Password</label>
		</div>
		<div class="small-9 columns">
			<input type="text" id="agent_payload_password" name="agent[payload_password]"  tabindex="13" placeholder="E.g.: 12345">
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<label for="agent_payload_query" class="right inline">Query</label>
		</div>
		<div class="small-9 columns">
			<textarea id="agent_payload_query" tabindex="14" name="agent[payload_query]"  placeholder="E.g.: SELECT * FROM..."></textarea>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<label class="right inline">Cache</label>
		</div>
		<div class="small-9 columns">
			<input id="agent_payload_cache" name="agent[payload_cache]" type="text">
		</div>
	</div>
	<div class="row">
		<input type="hidden" id="payload_selector_hidden" name="agent[payload_selectors]" value='[]'>
		<div id="payload_selector_include">

		</div>
		<div>
			<div class="small-3 columns">
				<span class="right inline">New Selector</span>
			</div>
			<div class="small-3 columns">
				<input type="text" class="payload_selector_key " tabindex="17" data-id="1" placeholder="Key" id="payload_selector_key_1">
			</div>
			<div class="small-3 columns">
				<input type="text" class="payload_selector_value " tabindex="18" data-id="1" placeholder="Value" id="payload_selector_value_1">
			</div>
			<div class="small-3 columns">
				<a href="#" data-id="1" class="button prefix payload_selector_add" tabindex="19" id="payload_selector_button_1">Add</a>
			</div>
		</div>
	</div>
</fieldset>
