<div class="row">
	<fieldset>
		<legend>CSV Publisher Properties</legend>	
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">URI</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_payload_uri" name="agent[payload_uri]" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Headers</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_payload_headers" name="agent[payload_headers]" type="checkbox" checked>
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Delimiter</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_payload_delimiter" name="agent[payload_delimiter]" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Cache</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_payload_cache" name="agent[payload_cache]" type="number">
			</div>
		</div>
	</fieldset>
</div>