<div class="row">
	<fieldset>
		<legend>XML Seed Properties</legend>	
		<div class="row">	
			<div class="small-3 columns">
				<label class="right inline">URI</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_seed_uri" name="agent[seed_uri]" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Cache</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_seed_cache" name="agent[seed_cache]" type="text">
			</div>
		</div>
	</fieldset>
</div>