<div class="row">
	<fieldset>
		<legend>CSV Seed Properties</legend>	
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Identifier</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_seed_identifier" name="seed[identifier]" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Title</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_seed_identifier" name="seed[title]" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">URI</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_seed_uri" name="seed[uri]" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Headers</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_seed_headers" name="seed[headers]" type="checkbox" checked>
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Delimiter</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_seed_delimiter" name="seed[delimiter]" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label class="right inline">Cache</label>
			</div>
			<div class="small-9 columns">
				<input id="agent_seed_cache" name="seed[cache]" type="number">
			</div>
		</div>
	</fieldset>
</div>