<% content_for :title, "About - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs animated fadeIn">
	<li><a href="<%= root_url %>">Home</a></li>
	<li class="current">About</li>
</ul>
<h1 class="animated fadeIn">About <strong>i2x</strong></h1>

<div class="row animated fadeIn">
	<div class="small-12 columns">
		<p>
			<strong>i2x</strong> is an ongoing project at the University of Aveiro's bioinformatics group. Please contact us for further information.
		</p>
	</div>
</div>
<div class="row animated fadeIn">
	<div class="small-6 columns">
		<%= render(:partial => 'contact/research') %>
	</div>
</div>