<div class="row">
	<div class="small-12 columns">
		<h3 class="subheader">Business</h3>
		<ul class="vcard">
			<li class="fn">BMD Software, Lda.</li>

			<li class="street-address">Edificio 1</li>

			<li class="locality">Campus Universitario de Santiago</li>

			<li><span class="state">Aveiro</span>, <span class="zip">3810-193</span></li>

			<li class="email"><a href="mailto:info@bmd-software.com?subject=[i2x] ">info@bmd-software.com</a></li>

			<li class="url"><a href="http://www.bmd-software.com/" target="_blank">http://www.bmd-software.com/</a></li>
		</ul>
	</div>
</div>