<div class="row">
	<div class="small-12 columns">
		<h3 class="subheader">Research</h3>
		<ul class="vcard">
			<li class="fn">Pedro Lopes</li>

			<li class="street-address">IEETA</li>

			<li class="locality">Campus Universitario de Santiago</li>

			<li><span class="state">Aveiro</span>, <span class="zip">3810-193</span></li>

			<li class="email"><a href="mailto:pedrolopes@ua.pt?subject=[i2x] ">pedrolopes@ua.pt</a></li>

			<li class="url"><a href="http://bioinformatics.ua.pt/">http://bioinformatics.ua.pt/</a></li>
		</ul>
	</div>
</div>