<div class="row">
	<div class="small-12 columns">
		<ul class="vcard">
			<li class="fn">Pedro Lopes</li>
			<li class="social">
				<span data-tooltip class="has-tip radius" title="Send Pedro an email"><a href="mailto:hello@pedrolopes.net?subject=[i2x] " class="icon-mail" ></a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on Facebook"><a href="http://facebook.com/pdrlps" class="icon-facebook" target="_blank"> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on GitHub"><a href="https://github.com/pdrlps" class="has-tip icon-github" target="_blank" title="Check Pedro on GitHub."> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on Google+"><a href="https://plus.google.com/+PedroLopesInfinity" class="icon-google_oauth2" target="_blank" title="Check Pedro on Google+."> </a></span> 
				<span data-tooltip class="has-tip radius" title="Check Pedro on LinkedIn"><a href="http://linkedin.com/in/pdrlps/" class="icon-linkedin" target="_blank" title="Check Pedro on LinkedIn."> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on Twitter"><a href="http://twitter.com/pedrolopes" class="icon-twitter" target="_blank" title="Check Pedro on Twitter."> </a></span>
			</li>
		</ul>
	</div>
</div>