<div class="row">
	<div class="small-12 columns">
		<ul class="vcard">
			<li class="fn">Pedro Lopes</li>
			<li class="social">
			<a href="mailto:hello@pedrolopes.net?subject=[i2x] " class="icon-mail"></a>
				<a href="http://facebook.com/pdrlps" class="icon-facebook" target="_blank"></a>
				<a href="https://github.com/pdrlps" class="icon-github" target="_blank"></a>
				<a href="https://plus.google.com/+PedroLopesInfinity" class="icon-google_oauth2" target="_blank"></a>
				<a href="http://linkedin.com/in/pdrlps/" class="icon-linkedin" target="_blank"></a>
				<a href="http://twitter.com/pedrolopes" class="icon-twitter" target="_blank"></a>
			</li>
		</ul>
	</div>
</div>