<% content_for :title, "Contact - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs">
    <li><a href="<%= root_url %>">Home</a></li>
    <li class="current">Contact</li>
</ul>
<div class="row">
  <div class="large-9 columns">
      <h3>Get in Touch!</h3>
      <p>For research or business queries, just contact us!</p>
  </div>
</div>
<div class="row">
    <div class="small-6 columns">
        <%= render(:partial => 'contact/research') %>
    </div>
    <div class="small-6 columns">
        <%= render(:partial => 'contact/business') %>
    </div>
</div>