// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides';


$panel-padding: rem-calc(5);

.clear-borders {
	border: none;
}

.info-row {
  border-left: 3px solid #ccc;
  border-bottom: 3px solid #FFF;
  border-top: 3px solid #FFF;
  padding: 4px;
}

.info-enabled {
	@extend .clear-borders;
	@extend .info-row;
	border-left-color: lighten($success-color,10%);
	background-color: lighten($success-color,50%);
}
.info-enabled:hover {
	border-left-color: darken($success-color, 10%);
	background-color: lighten($success-color,45%);
}

.info-disabled{
	@extend .clear-borders;
	@extend .info-row;
	border-left-color: lighten($alert-color,10%);
	background-color: lighten($alert-color,45%);
}
.info-disabled:hover {
	border-left-color: darken($alert-color, 10%);
	background-color: lighten($alert-color,40%);
}

.circle_48 {
	height: 48px;
  	width: 48px;
  	display: table-cell;
  	text-align: center;
  	vertical-align: middle;
  	border-radius: 50%; 
}

.on {
	background-color: $success-color;
	font-weight: 600;
	color: #FFFFFF;
}

.off {
	background-color: $alert-color;
	font-weight: 600;
	color: #FFFFFF;
}

.action {
	float:right;
	display: block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	margin-top: 4px;
	clear: both;
	font-size: 20px;
	vertical-align: bottom;
}

.info-details {
	margin-left: 60px;
}

.big {
	font-size: 30px;
	font-weight: 600;
}

.agent-hl {
	@include panel($padding:2px,$adjust:true);
	@include radius();
	margin: 2px;
}
.center {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
}