/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require entypo
 *= require_tree .
 */

/** STATIC CSS **/	
html{
  height: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 300;
	  min-height: 100%;
}

 .content {
	padding-top: 48px;
}

pre , code, kbd, samp { 
  font-family: monospace; 
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC; 
}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px 12px;}
pre code { border: 0px !important; padding: 0;}
code { padding: 0 3px 0 3px; }

b, strong {
	font-weight: 600;
}

i, em {
	font-style: italic;
	font-weight: 300;
}

.text-right {
	text-align: right;
	float:right;
}

.user-side-text {
	font-size: 10px;
	color: #FFFFFF;
}

.pad-right {
	padding: 4px;
}

.mg-right {
	margin-right: 4px;
}
.selector {
	font-weight: 600;
	font-style: italic;
	color: #f04124;
}

.right-off-canvas-menu, .off-canvas-list {
	font-weight: 300;
	font-size: 14px;
}

.off-canvas-list a:hover {
	color: #008CBA;
}

a.remove {
	color: #f04124;
	font-size: 0.8em;
}

a:hover.remove  {
	color: darken(#f04124, 20%);
}