/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
 @charset "UTF-8";

 /*
  * FONTS
  */

  /** Oxygen from Google for body text **/
  @import url(https://fonts.googleapis.com/css?family=Oxygen:300,700);

  /** Entypo and Entypo Social for iconography **/
  @font-face {
   font-family: 'entypo';
   src: font-url('entypo.eot');
   src: font-url('entypo.eot?#iefix') format('embedded-opentype'),
   font-url('entypo.woff') format('woff'),
   font-url('entypo.ttf') format('truetype'),
   font-url('entypo.svg#entypo') format('svg');
   font-weight: normal; font-style: normal;
 }
 @font-face {
   font-family: 'entypo-social';
   src: font-url('entypo-social.eot');
   src: font-url('entypo-social.eot?#iefix') format('embedded-opentype'),
   font-url('entypo-social.woff') format('woff'),
   font-url('entypo-social.ttf') format('truetype'),
   font-url('entypo-social.svg#entypo') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 /** iconography classes **/
 [class^='icon-']:before, [class*=" icon-"]:before {
   font-family: entypo;
   font-style: normal;
   font-weight: normal;
   /*display: inline-block;*/
   width: 1.1em;
   margin-right: .1em;
   text-align: center;
   -webkit-font-smoothing: antialiased;
 }

 a[class^='icon']:before, a[class*=" icon"]:before, div[class*=" icon"]:before,div[class*=" icon"]:before {
   font-size: 150%;
 }

 span[class^='icon']:before, span[class*=" icon"]:before {
   font-size: 150%;
   
 }

 .icon-i2x:before {
   content: '\1F500';
 }

 .icon-about:before {
   content: '\2139';	
 }

 .icon-documentation:before {
   content: '\1F4D6';	
 }

 .icon-user:before {
   content: '\1F464';	
 }

 .icon-agent:before {
   content: '\1F504';	
 }

 .icon-integration:before {
   content: '\21C6';	
 }

 .icon-template:before {
   content: '\1F4C4';	
 }
 .icon-realtime:before {
   content: '\E771';	
 }
 .icon-schedule:before {
   content: '\E771';	
 }
 .icon-signout:before {
   content: '\232B';
 }
 .icon-signup:before {
   content: '\E700';
 }
 .icon-userdetails:before {
   content: '\E722';
 }
 .icon-publisher:before {
   content: '\21B0';
 }
 .icon-forward:before {
   content: '\E762';
 }
 .icon-settings:before {
   content: '\2699';
 }
 .icon-view:before {
   content: '\23F6';
 }
 .icon-add:before {
   content: '\2795';
 }
 .icon-right:before { content: '\E75E'; }
 .icon-update:before { content: '\1F554'; }
 .icon-seed:before { content: '\1F56A'; }

 .icon-large:before {

 }
 .icon-list:before { content: '\2630'; }
 .icon-properties:before { content: '\E73E'; }
 .icon-selectors:before { content: '\1F569'; }
 .icon-view:before { content: '\23F6'; }
 .icon-files:before { content: '\E800'; }
 .icon-download:before { content: '\1F4E5'; }
 .icon-delete:before { content: '\1F6AB'; color: #FF0000;}
 .icon-details:before { content: '\E73E';}
 .icon-trash:before { content: '\E729'; color: #FF0000;}
 .icon-mail:before { content: '\1F53F';}
 .icon-install:before { content: '\E778';}
 .icon-play:before { padding-left: 2px; content: '\25B6';}

 /** Social icons **/
 .icon-facebook:before { font-family: 'entypo-social'; content: '\F30E'; }
 .icon-twitter:before { font-family: 'entypo-social'; content: '\F309'; }
 .icon-linkedin:before { font-family: 'entypo-social'; content: '\F318'; }
 .icon-github:before { font-family: 'entypo-social'; content: '\F300'; }
 .icon-dropbox_oauth2:before { font-family: 'entypo-social'; content: '\F330'; }
 .icon-google_oauth2:before { font-family: 'entypo-social'; content: '\F30F'; }


 /** STATIC CSS **/	
 html{
  height: 100%;
}

body {
	font-weight: 300;
}

.content {
	padding-top: 48px;
}

pre , code, kbd, samp { 
  font-family: monospace; 
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC; 
}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px 12px;}
pre code { border: 0px !important; padding: 0;}
code { padding: 0 3px 0 3px; }

b, strong {
	font-weight: 600;
}

em {
	font-style: italic;
	font-weight: 300;
}

section.application-nav ul li a {
  font-size: 1.1em;
}

li.social {
  font-size: 128%;
}

.logo {
  font-size: 1.5em;
}

.text-right {
	text-align: right;
	float:right;
}

.user-side-text {
	font-size: 10px;
	color: #333;
}

.pad-right {
	padding: 4px;
}

.mg-right {
	margin-right: 4px;
}
.selector {
	font-weight: 600;
	font-style: italic;
	color: #f04124;
}

.right-off-canvas-menu, .off-canvas-list {
	font-weight: 300;
	font-size: 14px;
}

.off-canvas-list a:hover {
	color: #008CBA;
}
.remember_me {
	color: #333;
}
a.remove {
	color: #f04124;
	font-size: 0.8em;
}

a:hover.remove  {
	color: darken(#f04124, 20%);
}
.centered-text {
	position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
  text-align: center;
}
.small-text {
	font-size: 80%;
}

/** HIDDEN **/
.hidden {
	display: none;
}