// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
	margin: 0 auto;
	text-align: center;
}

.huge {
	font-size: 500%;
	color: darken(#268bd2,10%);
}

.index-logo{
	color: #268bd2;
	font-size: 1200%
}