// Place all the styles related to the Templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.publisher_sql {
	
}
.publisher_url {
	display: none;
}
.publisher_file {
	display: none;
}

#template_variables_include {
	display:none;
}

#publiser_url_post_params {
	display: none;
}


