<% content_for :title, "Comparison - Research - Docs - i2x" %>


<article id="comparison">
    <h1>Comparison</h1>

    <h6 class="subheader">There's room for i2x.</h6>

    <div class="row">
        <table class="tableizer-table">
            <tr class="tableizer-firstrow">
                <th></th>

                <th>Business/Academia</th>

                <th>Open/Closed</th>

                <th>Customizable</th>

                <th>Change Detection</th>

                <th>Event Monitoring</th>

                <th>Agents</th>

                <th>Rules</th>

                <th>Semantic Web</th>

                <th>Service Hooks</th>

                <th>Push/Pull</th>

                <th>Publish/Subscribe</th>

                <th>Flexible Integration</th>

                <th>Outputs</th>
            </tr>

            <tr>
                <td>i2x</td>

                <td>Academia</td>

                <td>Open</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Both</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Custom</td>
            </tr>

            <tr>
                <td>COEUS</td>

                <td>Academia</td>

                <td>Open</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>Pull</td>

                <td>No</td>

                <td>Yes</td>

                <td>Fixed</td>
            </tr>

            <tr>
                <td>Bio2RDF</td>

                <td>Academia</td>

                <td>Open</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>No</td>

                <td>Pull</td>

                <td>No</td>

                <td>Yes</td>

                <td>Fixed</td>
            </tr>

            <tr>
                <td>Kettle</td>

                <td>Academia</td>

                <td>Closed</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>Pull</td>

                <td>No</td>

                <td>Yes</td>

                <td>Custom</td>
            </tr>

            <tr>
                <td>Taverna</td>

                <td>Academia</td>

                <td>Closed</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>Pull</td>

                <td>No</td>

                <td>Yes</td>

                <td>Custom</td>
            </tr>

            <tr>
                <td>Galaxy</td>

                <td>Academia</td>

                <td>Closed</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>Pull</td>

                <td>No</td>

                <td>Yes</td>

                <td>Custom</td>
            </tr>

            <tr>
                <td>IFTTT</td>

                <td>Business</td>

                <td>Closed</td>

                <td>No</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>Both</td>

                <td>Yes</td>

                <td>No</td>

                <td>Fixed</td>
            </tr>

            <tr>
                <td>Zapier</td>

                <td>Business</td>

                <td>Closed</td>

                <td>No</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>Yes</td>

                <td>Both</td>

                <td>Yes</td>

                <td>No</td>

                <td>Fixed</td>
            </tr>

            <tr>
                <td>Huginn</td>

                <td>Business</td>

                <td>Open</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>Both</td>

                <td>No</td>

                <td>No</td>

                <td>Custom</td>
            </tr>

            <tr>
                <td>Elastic.io</td>

                <td>Business</td>

                <td>Closed</td>

                <td>No</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>Both</td>

                <td>No</td>

                <td>No</td>

                <td>Fixed</td>
            </tr>

            <tr>
                <td>AX-InCoDa</td>

                <td>Academia</td>

                <td>Closed</td>

                <td>-</td>

                <td>Yes</td>

                <td>Yes</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>Both</td>

                <td>Yes</td>

                <td>No</td>

                <td>Fixed</td>
            </tr>

            <tr>
                <td>Naeem et. al.</td>

                <td>Academia</td>

                <td>Closed</td>

                <td>-</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>Push</td>

                <td>No</td>

                <td>No</td>

                <td>Fixed</td>
            </tr>

            <tr>
                <td>Mouttham et. al.</td>

                <td>Academia</td>

                <td>Closed</td>

                <td>-</td>

                <td>No</td>

                <td>Yes</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>No</td>

                <td>Push</td>

                <td>No</td>

                <td>No</td>

                <td>Fixed</td>
            </tr>
        </table>
    </div>
</article>
