<% content_for :title, "Others - Research - Docs - i2x" %>

<article id="others">
	<h1>Others</h1>

	<h6 class="subheader">There is serious competition.</h6>

	<div class="row">
		<div class="large-12 columns">
			<h4 id="coeus">COEUS</h4>
			<p>COEUS is a new semantic web framework, aiming at a streamlined application development cycle and following a "semantic web in a box" approach. The framework provides a single package including advanced data integration and triplification tools, base ontologies, a web-oriented engine and a flexible exploration API. Resources can be integrated from heterogeneous sources, including CSV and XML files or SQL and SPARQL query results, and mapped directly to one or more ontologies. Advanced interoperability features include REST services, a SPARQL endpoint and LinkedData publication. These enable the creation of multiple applications for web, desktop or mobile environments, and empower a new knowledge federation layer.
				The platform, targeted at biomedical application developers, provides a complete skeleton ready for rapid application deployment, enhancing the creation of new semantic information systems.</p>
				<h5 id="key-features">Key Features</h5>
				<ul>
					<li>Semantic abstraction/translation</li>
					<li>Multiple integration connectors</li>
					<li>Base engine for i2x</li>
				</ul>
				<p><strong>URL</strong>: <a href="http://bioinformatics.ua.pt/coeus/" title="COEUS">http://bioinformatics.ua.pt/coeus/</a></p>
				<h4 id="bio2rdf">Bio2RDF</h4>
				<p>The Bio2RDF project uses a data integration approach based on semantic web rules to answer a broad question: What is known about the mouse and human genomes? Using its <em>rdfizing</em> services, a semantic mashup of 65 million triples was built from 30 public bioinformatics data providers: GO, NCBI, UniProt, KEGG, PDB and many others. The average link-rank (ALR) of a node is 4.7 which means that a usual topic is connected to 4.7 other topics by direct or reverse links within the warehouse.</p>
				<h5 id="key-features_1">Key Features</h5>
				<ul>
					<li>Covers lots of data types</li>
					<li>PHP-based rdfization</li>
					<li>Growing popularity</li>
				</ul>
				<p><strong>URL</strong>: <a href="http://bio2rdf.org" title="Bio2RDF">http://bio2rdf.org</a></p>
				<h4 id="kettle">Kettle</h4>
				<p>Pentaho Data Integration delivers powerful Extraction, Transformation and Loading (ETL) capabilities using an innovative, metadata-driven approach. With an intuitive, graphical, drag and drop design environment, and a proven, scalable, standards-based architecture, Pentaho Data Integration is increasingly the choice for organizations over traditional, proprietary ETL or data integration tools.</p>
				<h5 id="key-features_2">Key Features</h5>
				<ul>
					<li>ETL tools for lots and lots of data types, from file readers (CSV, XML...) to database connectors (MySQL, SQL Server, ...)</li>
					<li>Comprehensive GUI (Desktop)</li>
					<li>Widely used in Enterprise, critical component for Pentaho business suite</li>
				</ul>
				<p><strong>URL</strong>: <a href="http://kettle.pentaho.com/" title="Kettle">http://kettle.pentaho.com/</a></p>
				<h4 id="taverna">Taverna</h4>
				<p><strong>Taverna</strong> is an open source and domain-independent Workflow Management System – a suite of tools used to design and execute scientific workflows and aid <em>in silico</em> experimentation. Taverna enables the creation of extremely complex workflows using a rich set of activities.</p>
				<h5 id="key-features_3">Key Features</h5>
				<ul>
					<li>Comprehensive GUI (Desktop)</li>
					<li>Lots and lots of activities for inclusion in any workflow<ul>
						<li>From REST web services to custom Java code</li>
					</ul>
				</li>
				<li>Widely used in the biomedical domain</li>
			</ul>
			<p><strong>URL</strong>: <a href="http://www.taverna.org.uk/" title="Taverna">http://www.taverna.org.uk/</a></p>
			<h4 id="galaxy">Galaxy</h4>
			<p><strong>Galaxy</strong> is an open, web-based platform for data intensive biomedical research. Whether on the free public server or custom  instances, anyone can perform, reproduce, and share complete analyses.</p>
			<h5 id="key-features_4">Key Features</h5>
			<ul>
				<li>Excellent web-based GUI for complex workflows</li>
				<li>Cloud-based approach (online reproducible research)</li>
				<li>Sharing and collaboration environments</li>
			</ul>
			<p><strong>URL</strong>: <a href="http://galaxyproject.org/" title="Galaxy">http://galaxyproject.org/</a></p>
			<h4 id="ifttt">IFTTT</h4>
			<p><strong>IFTTT</strong> is a service that lets you create powerful connections with one simple statement: <strong>If This Then That</strong>.</p>
			<h5 id="key-features_5">Key Features</h5>
			<ul>
				<li>Multiple input and output services</li>
				<li>Focus on social tools (networks, blogs...)</li>
				<li>Mobile application</li>
				<li>Very very easy to use</li>
			</ul>
			<p><strong>URL</strong>: <a href="http://www.ifttt.com" title="IFTTT">http://www.ifttt.com</a></p>
			<h4 id="zapier">Zapier</h4>
			<p><strong>Zapier</strong> enables you to automate tasks between other online services (services like Salesforce, Basecamp, Gmail, and 223 more). Imagine capturing Wufoo form leads automatically into Salesforce or displaying new Paypal sales in your Campfire team chat room. Zapier lets you automate all these simple tasks and get back to real work.</p>
			<h5 id="key-features_6">Key Features</h5>
			<ul>
				<li>Lots and lots of input/output services</li>
				<li>Focus on integrating business services</li>
				<li>Very easy to use</li>
			</ul>
			<p><strong>URL</strong>: <a href="https://zapier.com/" title="Zapier">https://zapier.com/</a></p>
			<h4 id="huginn">Huginn</h4>
			<p>Huginn is a system for building agents that perform automated tasks for you online. They can read the web, watch for events, and take actions on your behalf. Huginn's Agents create and consume events, propagating events along a directed event flow graph. Think of it as Yahoo! Pipes plus IFTTT on custom servers.</p>
			<h5 id="key-features_7">Key Features</h5>
			<ul>
				<li>Ruby open-source code</li>
				<li>Still in its infancy</li>
				<li>Agent-based</li>
			</ul>
			<p><strong>URL</strong>: <a href="https://github.com/cantino/huginn" title="Huginn">https://github.com/cantino/huginn</a></p>
			<h4 id="elasticio">Elastic.io</h4>
			<p><strong>Elastic.io</strong> is a cloud integration platform that enables ISVs to fill their integration AppStore in minutes not days. ISVs will get more revenues, users and will reduce costs whilst keeping the end-user relationship and getting actionable insights.</p>
			<h5 id="key-features_8">Key Features</h5>
			<ul>
				<li>Still early days</li>
				<li>Business-oriented</li>
			</ul>
			<p><strong>URL</strong>: <a href="http://www.elastic.io/" title="Elastic.io">http://www.elastic.io/</a></p>
			<h4 id="ax-incoda">AX-InCoDa</h4>
			<h5 id="active-xml-based-web-data-integration">Active XML-based Web data integration</h5>
			<p>There is currently a strong trend for decision-making applications such as Data Warehousing (DW) and Business Intelligence (BI) to move onto the Web, especially in the cloud. Integrating data into DW/BI applications is a critical and time-consuming task. To make better decisions in DW/BI applications, next generation data integration poses new requirements to data integration systems, over those posed by traditional data integration. In this paper, we propose a generic, metadata-based, service-oriented, and event-driven approach for integrating Web data timely and autonomously. Beside handling data heterogeneity, distribution and interoperability, our approach satisfies near real-time requirements and realize active data integration. For this sake, we design and develop a framework that utilizes Web standards (e.g., XML and Web services) for tackling data heterogeneity, distribution and interoperability issues. Moreover, our framework utilizes Active XML (AXML) to warehouse passive data as well as services to integrate active and dynamic data on-the-fly. AXML embedded services and changes detection services ensure near real-time data integration. Furthermore, the idea of integrating Web data actively and autonomously revolves around mining events logged by the data integration environment. Therefore, we propose an incremental XML-based algorithm for mining association rules from logged events. Then, we define active rules dynamically upon mined data to automate and reactivate integration tasks. Finally, as a proof of concept, we implement a framework prototype as a Web application using open-source tools.</p>
			<h5 id="key-features_9">Key Features</h5>
			<ul>
				<li>Complete architecture</li>
				<li>Framework similar to i2x</li>
				<li>Only uses ActiveXML</li>
			</ul>
			<p><strong>URL</strong>: <a href="http://link.springer.com/article/10.1007/s10796-012-9405-6" title="Springer Publication">http://link.springer.com/article/10.1007/s10796-012-9405-6</a></p>
			<h4 id="naeem-et-al">Naeem et. al.</h4>
			<h5 id="an-event-based-near-real-time-data-integration-architecture">An event-based near real-time data integration architecture</h5>
			<p>Extract-transform-load (ETL) tools feed data from operational databases into data warehouses. Traditionally, these ETL tools use batch processing and operate offline at regular time intervals, for example on a nightly or weekly basis. Naturally, users prefer to have up-to-date data to make their decisions, therefore there is a demand for real-time ETL tools. In this paper we investigate an event-based near real-time ETL layer for transferring and transforming data from the operational database to the data warehouse. One of our main concerns in this paper is master data management in the ETL layer. We present the architecture of a novel, general purpose, event-driven, and near real-time ETL layer that uses a database queue (DBQ), works on a push technology principle and directly supports content enrichment. We also observe that the system architecture is consistent with the information architecture of a classical online transaction processing (OLTP) application, allowing us to distinguish between different kinds of data to increase the clarity of the design.</p>
			<h5 id="key-features_10">Key Features</h5>
			<ul>
				<li>Automated ETL</li>
				<li>Real time (without polling, just push)</li>
			</ul>
			<p><strong>URL</strong>: <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4815048&amp;tag=1" title="IEEE Publication">http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4815048&amp;tag=1</a></p>
			<h4 id="mouttham-et-al">Mouttham et. al.</h4>
			<h5 id="event-driven-data-integration-for-personal-health-monitoring">Event-Driven Data Integration for Personal Health Monitoring</h5>
			<p>The emergence of biomedical wireless sensors, the wide spread use of smartphones, and advanced data stream mining techniques have enabled a new generation of personal health monitoring systems. These health monitoring systems are mostly stand-alone and are not yet integrated with existing e-Health systems, which could seriously limit their large scale deployment. In this paper, we propose an architecture for data integration within an electronic health care network based on extending the traditional SOA approach with support for complex event processing and context awareness. This architecture also facilitates integrated business performance management against quality of care targets. A detailed health monitoring scenario for the care of cardiac patients is used to illustrate system requirements and to validate the proposed architecture. The expected benefits of our approach include a higher quality of care, reduced costs for health service providers and a higher quality of life for the patients. </p>
			<h5 id="key-features_11">Key Features</h5>
			<ul>
				<li>Just a concept</li>
				<li>Applied to personal health monitoring/life sciences</li>
			</ul>
			<p><strong>URL</strong>: <a href="https://www.academypublisher.com/~academz3/ojs/index.php/jetwi/article/view/0102110118">https://www.academypublisher.com/~academz3/ojs/index.php/jetwi/article/view/0102110118</a></p>
		</div>
	</div>
</article>