<% content_for :title, "SWOT - Research - Docs - i2x" %>

<article id="swot">
	<h1>SWOT</h1>
	<h6 class="subheader">Strengths, Weaknesses, Opportunities, Threats</h6>
	<%= link_to image_tag("swot.png", {width: 720}), image_path('swot.png'), :class => 'th' %>
	<br>
	<%= @content.html_safe %>	
</article>

