<% content_for :title, "Diff - Sequences - Docs - i2x" %>

<article id="diff">
    <h1>Translate Diff to COEUS knowledge base</h1>
    <h6 class="subheader">Triplifying data.</h6>
    <%= link_to image_tag("diff.png", {width: 640}), image_path('diff.png'), :class => 'th' %>
    <br>

    <<%= @content.html_safe %>
</article>