<% content_for :title, "Diff - Sequences - Docs - i2x" %>

<article id="diff">
    <h1>Translate diff to semantic store</h1>
    <h6 class="subheader">Triplifying data.</h6>
    <%= link_to image_tag("seq_diff.png", {width: 640}), image_path('seq_diff_th.png'), :class => 'th' %>
    <br>
    <br />
    <%= @content.html_safe %>
</article>