<% content_for :title, "Full - Sequences - Docs - i2x" %>

<article id="full">
    <h1>i2x Sequence Diagram</h1>

    <h6 class="subheader">From start to finish.</h6>
    <%= link_to image_tag("full.png", {width: 640}), image_path('full.png'), :class => 'th' %>
    <br>

    <%= @content.html_safe %>
</article>
