<% content_for :title, "Rules - Sequences - Docs - i2x" %>

<article id="rules">
    <h1>Apply Integration Rules</h1>

    <h6 class="subheader">Validate data transfer.</h6>
    <%= link_to image_tag("seq_rules.png", {width: 640}), image_path('seq_rules_th.png'), :class => 'th' %>
    <br>
    <br/>
    <%= @content.html_safe %>
</article>