<% content_for :title, "Template - Sequences - Docs - i2x" %>

<article id="template">
    <h1>Execute Delivery Template</h1>

    <h6 class="subheader">Deliver everywhere.</h6>
    <%= link_to image_tag("seq_template.png", {width: 640}), image_path('seq_template_th.png'), :class => 'th' %>
    <br>
    <br />
    <%= @content.html_safe %>
</article>