<% content_for :title, "Template - Sequences - Docs - i2x" %>

<article id="template">
    <h1>Apply Worker Template</h1>

    <h6 class="subheader">Deliver everywhere.</h6>
    <%= link_to image_tag("template.png", {width: 640}), image_path('template.png'), :class => 'th' %>
    <br>
    
    <%= @content.html_safe %>
</article>