<% content_for :title, "CRM - Use Cases - Docs - i2x" %>

<article id="crm">
	<h1>CRM</h1>
	<h6 class="subheader">Improve customer relationship management tasks</h6>
	<%= @content.html_safe %>
</article>