<% content_for :title, "Overview - Use Cases - Docs - i2x" %>

<article id="strategy">
    <h1>Strategy</h1>

    <h6 class="subheader">Why. What. How.</h6>

    <div class="row">
        <div class="large-12 columns">
          <p>This basic <em>use case</em> analysis tries to provide a general overview of multiple scenarios where i2x can be used to improve the integration workflows in place. 
            For each use case we try to define why we think it is important, what we plan to do to coordinate the integration with <strong>i2x</strong> and how we intend to setup <strong>i2x</strong> to connect all components.</p>
        </div>
    </div>
</article>
<hr>

<article id="more">
    <h1>More use cases</h1>

    <h6 class="subheader">More to come.</h6>

    <div class="row">
        <div class="large-12 columns">
         <p>During the initial development stage, more use cases will be added to this document. Feel free to contact us with additional details of your own use case.</p>
     </div>
 </div>
</article>
