<% content_for :title, "Project Management - Use Cases - Docs - i2x" %>

<article id="management">
	<h1>Project Management</h1>
	<h6 class="subheader">Redmine headaches go away.</h6>
	<%= @content.html_safe %>
</article>