<% content_for :title, "Medical Imaging - Use Cases - Docs - i2x" %>

<article id="medical">
	<h1>Medical Imaging Indexing</h1>
	<h6 class="subheader">From PACS to Dicoogle.</h6>
	<%= @content.html_safe %>
</article>
