<% content_for :title, "Newborn Management - Use Cases - Docs - i2x" %>

<article id="newborn">
	<h1>Automate newborn data management tasks</h1>
	<h6 class="subheader">i2x + neobox + neoscreen</h6>
	<%= @content.html_safe %>            
</article>